h1
{
	color:#090000;
	font-style: bold;
}

body
{
	font-family:cursive;
	background-image:url('image/fondbois.jpg');
	background-repeat:no-repeat;

	position: fixed; 
	top: 0; 
	left: 0; 

	min-width: 100%;
	min-height: 100%;
	background-size: cover;
}